.container {
  padding-top: 20px;
}

.map-header {
  font-size: 20px;
  font-weight: 500;
}
.mapimage {
  width: 100%;
  /* height: 15vw;
  object-fit: cover; */
}

tbody {
  padding: 5px;
}
/* .col-lg-6 {
  margin-top: 20px;
} */

.btn-success {
  font-size: 30px;
  font-weight: 400;
  width: 50%;
  margin: auto;
}

.create-event-button {
  margin: 10px 0;

  /* margin-bottom: 5px; */
}

.event-date,
.time {
  float: right;
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  margin-right: 20px;
  border-right: 2px solid rgb(71, 174, 221);
  padding-right: 20px;
  padding-top: 2px;
}

.btn-info {
  font-size: 18px;
  width: 100%;
  float: left;
}

.dollar-cost {
  float: right;
  font-size: 25px;
  font-weight: 500;
  color: gold;
}

.footer {
  position: relative;
  padding-top: 10px;
  padding-bottom: 2px;
  margin-top: 20px;
  left: 0;
  bottom: -10;
  width: 100%;
  background-color: rgb(212, 212, 212);
  color: rgb(82, 80, 80);
  text-align: center;
}

.event-card-header {
  background-color: darkslategrey;
}

/* Media Query Section 1024px */
@media screen and (min-width: 770px) and (max-width: 1024px) {
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 8px;
    left: 8px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    color: red;
    display: none;
    /* visibility: hidden; */
    /* opacity: 0; */
    /* visibility: collapse; */
  }
}

/* Media Query Section 760px*/
@media screen and (min-width: 0px) and (max-width: 769px) {
  /* @media only screen and (max-width: 760px){ */
  /* (min-device-width: 768px) and (max-device-width: 1024px)  { */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
  }

  .px-2 {
    padding-left: 12rem !important;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 8px;
    left: 8px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    color: green;
    font-weight: 550;
    opacity: 1;
    /* display: block; */
    /* visibility: visible; */
    /* visibility: initial; */
  }

  .join-mobile-button {
    height: 53px;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: 'Creator Name:';
  }
  td:nth-of-type(2):before {
    content: 'Date:';
  }
  td:nth-of-type(3):before {
    content: 'Time:';
  }
  td:nth-of-type(4):before {
    content: 'Cost:';
  }
  td:nth-of-type(5):before {
    content: 'Attendess:';
  }
  td:nth-of-type(6):before {
    content: 'Address:';
  }
  td:nth-of-type(7):before {
    content: 'Description:';
  }
  td:nth-of-type(8):before {
    content: '';
  }

  body {
    font-size: 14px;
  }

  .btn-success {
    font-size: 18px;
    text-align: center;
  }

  .btn-info {
    font-size: 14px;
    text-align: center;
    width: 100%;
    float: left;
  }

  /* .hide-column {
    display: none;
  } */
}
