.container {
  padding-top: 20px;
}

.map-header {
  font-size: 20px;
  font-weight: 500;
}
.mapimage {
  width: 100%;
  /* height: 15vw;
  object-fit: cover; */
}

tbody {
  padding: 5px;
}
/* .col-lg-6 {
  margin-top: 20px;
} */

.btn-success {
  font-size: 24px;
  font-weight: 400;
  width: 50%;
  margin: auto;
}

.create-event-button {
  margin: 10px 0;

  /* margin-bottom: 5px; */
}

.event-date,
.time {
  float: right;
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  margin-right: 20px;
  border-right: 2px solid rgb(71, 174, 221);
  padding-right: 20px;
  padding-top: 2px;
}

.btn-info {
  font-size: 20px;
  width: 100%;
  float: left;
}

.dollar-cost {
  float: right;
  font-size: 25px;
  font-weight: 500;
  color: gold;
}

.footer {
  position: relative;
  padding-top: 10px;
  padding-bottom: 2px;
  margin-top: 20px;
  left: 0;
  bottom: -10;
  width: 100%;
  background-color: rgb(212, 212, 212);
  color: rgb(82, 80, 80);
  text-align: center;
}

.event-card-header {
  background-color: darkslategrey;
}

/* Media Query Section */
@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }

  .btn-success {
    font-size: 18px;
    text-align: center;
  }

  .btn-info {
    font-size: 14px;
    text-align: center;
    width: 100%;
    float: left;
  }
  /* .table-body-text {
    padding: 5px;
  } */
}
